<!doctype html>
<html lang = "en">
<head>
	<link rel = "shortcut icon" href = "#">
</head>

<body>
	<main>
		<nav>
			<ul>
				<li> <a href = "./" >Home</a> </li>
				<li> <a href = "/translation_page" >Translations</a> </li>
				<li>Itinerary</li>
				<li>Emergency Contact</li>
			</ul>
		</nav>
	</main>
</body>


<ul style = "list-style: none;">
	<li>
		Do you speak English?
		<p style = "text-align: right;">
			<audio controls>
				<source src = "/static/assets/Japanese Phrases audio files/Do You Speak English.wav" type = "audio/mpeg"/>
				Your browser does not support HTML5 audio.
			</audio>
		</p>
	</li>
	<li>
		Excuse me.
		<p style = "text-align: right;">
			<audio controls>
				<source src = "/static/assets/Japanese Phrases audio files/Excuse Me.wav" type = "audio/mpeg"/>
				Your browser does not support HTML5 audio.
			</audio>
		</p>
	</li>
</ul>
</html>