*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main
{
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
ul
{
  list-style: none;
  display: flex;
}
li
{
  margin-right: 1rem;
}
